body{
    margin: 0;
    }
    .header{
    height: 80px;
    background-color: white;
    }
    .logo{
    position: absolute;
    width: 47px;
    left: 40px;
    top: 7px;
    }
     .menu{
    width: 1221px;
    height: 80px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content:space-evenly;
    margin: auto;

    }
    .menu-elements{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;  
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    }

    .container{
    display: flex;
    width: 1440px;
    height: 550px;
    padding-left: 40px;
    padding-right: 50px;
    }

    .block
    {   
    border-radius: 32px 0px 0px 32px;
    background-color: #DCE5E2;
    padding-left: 82.4px;
    width: 797px;
    height: 550px;
    }
    .img{

    height: 550px;
    border-radius: 27px;
    }
    .main-text{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #000000;  
    }
    
    .button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;   
    text-transform: capitalize;
    color: #000000;
    box-sizing: border-box;
    position: absolute;
    width: 184px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 200px;
    }
    .text{

    width: 642px;
    height: 53px;
    padding-top: 120px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    margin: auto;
    color: #000000;
    }

    .card-img
    {
      height: 214px;
    }
    .container-cards
    {
        padding-top: 48px;
        width: 1434px;
        height: 606;
        display: flex;
        justify-content: space-evenly;
    }
 
    .text-card
{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;  
    color: #000000;
}
    .price-card
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;  
    color: #000000;
}
.last-block
{
width: 1441px;
background: #DCE5E2;    
padding-top: 27px;
margin-left: 54px;
margin-right: 44px;
padding-bottom: 43px;
}
.img-last-block
{
width: 241px;
display :block;
margin: 0 auto;
}
.text-last-block
{
font-family: 'Readex Pro';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 52px;
text-align: center;

color: #000000;
padding-bottom :30px, 0 auto;
}
.elem-last-block
{
width: 400px;
height: 50px;
margin-left: 450px;
}
.type-phone
{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

text-align: center;

color: #000000;
border-radius: 54px 0px 0px 54px;
padding-right: 20px;
}
.subm
{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

text-align: center;

color: #FFFFFF;
}
.content-input
{
padding-top: 20px;
display: flex;
justify-content: flex-end;
}